<h1>Dictionary</h1>

#if($word)
  #foreach($word in $words)
    <ol>
    <a href="/word/$word.getId()">$word.getName()</a>
    </ol>
  #end
#else
  <p></p>
#end

<form action='/word' method='post'>
  <div>
    <h3><label for ="word" > Add a new word</label></h3>
    <input id="newWord" name="newWord" class="form-control" type="text" required=" " >
  </div>

  <br><button type="submit" class="btn btn-info">Submit</button></br>
</form>
