<h1>Dictionary</h1>

<div>
  <a href="/"></a>
  You have added a new word.
</div>


#if($word)
  #foreach($word in $words)
    <ol>
    <a href="/word/$word.getId()">$word.getName()</a>
    </ol>
  #end
#else
  <p></p>
#end

<form action='/word' method='post'>
  <div class="form-group">
    <input id="newWord" name="newWord" class="form-control" type="text" required="true" placeholder="Add a new word">
  </div>

  <button type="submit" class="btn btn-info">Click to submit</button>
</form>
